<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
      <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/Hypertherm/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Kavignon" value="KAVIGNON" />
            <add key="12345" value="764f9c271a8350c541b21fe92033509d39d9eeed" />
        </github>
    </packageSourceCredentials>
</configuration>
